<div class="bh-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgxkozw6v/image/upload/v1575648877/bg_1_qhai8i.jpg);">
  
  <div class="d-flex justify-content-center mb-4">
    <%= image_tag "bhlogo.svg", style: "width: 60%", class: "animated infinite pulse slower" %>
  </div>
  
  <div class="container">
    
    <h2>Find a language partner</h2>
    
    <!-- simple form  -->
  <%= form_tag users_path, method: :get do %>
    <% @language = Language.all %>
    <%= text_field_tag :city,
      params[:city],
      class: "form-control",
      placeholder: "Choose a city!"
    %>
    <p>I want to practice:</p>
    <%= select_tag :language, options_from_collection_for_select(@language, 'id', 'name'), class: "bh-select-list" %>
    
    <%= submit_tag "Search", class: "bh-btn-solid-lg-sticky mt-3" %>
    
  <% end %>
  </div>
</div>

